[submodule "Vagrant/puppet/modules/composer"]
	path = Vagrant/puppet/modules/composer
	url = https://github.com/puphpet/puphpet-composer.git
[submodule "Vagrant/puppet/modules/ufw"]
	path = Vagrant/puppet/modules/ufw
	url = https://github.com/puppetmodules/puppet-module-ufw.git
[submodule "Vagrant/puppet/modules/apt"]
	path = Vagrant/puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "Vagrant/puppet/modules/stdlib"]
	path = Vagrant/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "Vagrant/puppet/modules/puppi"]
	path = Vagrant/puppet/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "Vagrant/puppet/modules/nginx"]
	path = Vagrant/puppet/modules/nginx
	url = https://github.com/puppetlabs/puppetlabs-nginx.git
